body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: grey;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 98%;
  border: 10px solid silver;
  box-shadow: 0px 0px 6px 0px #000;
}

.main-nav {
  margin: 18px 0;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
  margin: 2px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px black;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

.main-nav ul li:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}

.owner ul li a{
  color: black;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form label {
  margin-bottom: 5px;
  display: block;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

form button:hover {
  background: black;
  color: white;
}

.site-footer {
  padding: 2rem 0;
  margin-top: 50px;
  text-align: center;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: red;
  color: white;
  padding: 10px;
}

.skip:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
}